<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="We-Care Suite">

	<test name="We-Care">
		<classes>
			<class name="Tests.VerifyLogin" /> 
			
			<class name="Tests.VerifyManageIdentity" /> 
		</classes>	
	</test> 
	
</suite> <!-- Suite -->